{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Lucas Website{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}
<script type="text/javascript">
    var snd = new Audio("{{ url_for('static', filename='sound.mp3') }}");
    snd.play();
</script>
{% endblock %}
